table {
  width: 100%;
}

table > thead {
  color: Black;
  background-color: lightblue;
}

tr:nth-child(2n) {
  background-color: lightblue;
}

table > td {
  border: 1px solid lightblue;
}

table {
  border: 1px solid lightblue;
}

.link {
  color: black;
  border-radius: 5px;
  border: 2px darkblue solid;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  width: fit-content;
  text-decoration: none;
  display: flex;
}

.link:hover {
  background-color: lightgray;
}

.link:active {
  background-color: green;
}
