<ng-container [ngSwitch]="metadata.type">
  <span *ngSwitchCase="'string'" class="string">
    <span *ngIf="!context.editMode; else edittext">"{{ value }}"</span>
    <ng-template #edittext>
      <input type="text" [(ngModel)]="value">
    </ng-template>
  </span>

  <span *ngSwitchCase="'number'" class="number">
    <span *ngIf="!context.editMode; else editnumber">
      {{ value }}
    </span>
    <ng-template #editnumber>
      <input type="number" [(ngModel)]="context.editMode" />
    </ng-template>
  </span>

  <span *ngSwitchCase="'link'">
    <a href="#" class="link" (click)="linkClick($any(value).id)">{{
      $any(value).text
    }}</a>
  </span>

  <span *ngSwitchCase="'array'">
    <app-array-render [value]="value" [context]="context" [metadata]="metadata"></app-array-render>
  </span>

  <span *ngSwitchCase="'enum'">
    <app-enum-render [value]="value" [context]="context" [metadata]="metadata"></app-enum-render>
  </span>

  <span *ngSwitchCase="'form'">
    <app-form-render [value]="value" [context]="context" [metadata]="metadata"></app-form-render>
  </span>

  <span *ngSwitchCase="'progress'">
    <app-progress-render [value]="value" [context]="context" [metadata]="metadata"></app-progress-render>
  </span>

  <span *ngSwitchCase="'log'">
    <app-log-render [value]="value" [context]="context" [metadata]="metadata"></app-log-render>
  </span>




  <span *ngSwitchCase="'navigation'">
    <app-navigation-render [target]="value"></app-navigation-render>
  </span>

  <span *ngSwitchCase="'horizontal'">
    <app-horizontal-render [target]="value"></app-horizontal-render>
  </span>

  <span *ngSwitchCase="'vertical'">
    <app-vertical-render [target]="value"></app-vertical-render>
  </span>

  <span *ngSwitchDefault>
    <app-object-render [metadata]="metadata" [context]="context" [value]="value">
    </app-object-render>
  </span>
</ng-container>
