.string {
    color: red;
}

.number {
    color: cornflowerblue;
}

.link {
    color: black;
    border-radius: 5px;
    border: 2px lightblue solid;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    width: fit-content;
    text-decoration: none;
    display: flex;
}

.link:hover {
    background-color: lightgray;
}

.link:active {
    background-color: green;
}