<table [@highlight]="highlight" class="table table-bordered table-hover table-sm m-0">

  <thead>
    <tr>
      <th colspan="2">
        <span class="cursor-pointer" scope="col" (click)="collapse()">
          <span *ngIf="collapsed()">▼</span>
          <span *ngIf="!collapsed()">▲</span>
          Object ( {{metadata.extendedType}} )
        </span>

        <app-option-button [context]="context" [metadata]="metadata" [renderer]="'table'"></app-option-button>
      </th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngIf="!collapsed()">
      <ng-container *ngFor="let prop of keys">
        <tr>
          <th scope="row">
            {{ prop }}
          </th>
          <td class="w-100 m-0 p-0" scope="row">
            <ng-template [appRender]
              [value]="value[prop]"
              [metadata]="metadata.children[prop]"
              [context]="context.child(prop)"
              (renderer)="onChild(prop, $event)"></ng-template>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>

</table>
