<table class="table table-bordered table-hover table-sm m-0">

  <thead>
    <tr>
      <th colspan="2">
        <span [ngClass]="{ 'cursor-pointer': context.visibleDepth > 0 }" scope="col" (click)="collapse()">

          <ng-container *ngIf="context.visibleDepth > 0">
            <span *ngIf="collapsed()">▼</span>
            <span *ngIf="!collapsed()">▲</span>
          </ng-container>

          <ng-container ngels *ngIf="header; else genericHeader">
            {{ header }}
          </ng-container>
          <ng-template #genericHeader>
            Object ( {{metadata.extendedType}} )
          </ng-template>

        </span>

        <app-option-button [context]="context" [metadata]="metadata" [renderer]="'table'" [options]="options"></app-option-button>
      </th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngIf="!collapsed()">
      <ng-container *ngFor="let prop of keys">
        <tr [appHighlight]="prop">
          <th scope="row">
            {{ prop }}
          </th>
          <td class="w-100 m-0 p-0" scope="row">
            <ng-container *appRender="value[prop]; metadata: metadata.children[prop]; context: context.child(prop)"></ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>

</table>
