<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Render Options</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <ng-container *ngFor="let item of optionService.options">
    <ng-container *ngFor="let type of types(item.typeOptions)">
      <div>
        On
        <span class="text-primary">{{item.jsonPath}}</span>
        for type <span class="text-primary">{{type}}</span>
        use renderer <span class="text-primary">{{item.typeOptions.get(type).renderer}}</span>
        <app-option-button class="pl-2" style="right: 0px;" [path]="item.jsonPath" [type]="type" [options]="item.typeOptions.get(type)"></app-option-button>
        <button (click)="optionService.remove(item, type)" class="btn btn-danger btn-sm ml-2">X</button>
      </div>
    </ng-container>
  </ng-container>

  <button (click)="optionService.reset()">Reset all options</button>
  Exportable options <input type="text" [value]="optionService.serializedOptions()" (change)="import($event.target.value)" />
</div>
