table {
  width: 100%;
}

table > thead {
  color: Black;
  background-color: lightgreen;
}

tr:nth-child(2n) {
  background-color: lightgreen;
}

table > td {
  border: 1px solid lightgreen;
}

table {
  border: 1px solid lightgreen;
}
