<div [appHighlight] class="grid-container p-2">
  <div class="min">{{ value.min }}</div>
  <div class="currentSpeed">
    {{ value.value }}
    <span *ngIf="value.value && value.speed">@</span>
    {{ value.speed }}
  </div>
  <div class="max">{{ value.max }}</div>

  <div class="progressbar"><progress value="{{value.percent}}" max="100"></progress></div>

  <div class="pause" *ngIf="metadata.pause">
    <button (click)="pause()">{{ !value.paused ? "Pause" : "Resume" }}</button>
  </div>
  <div class="speed" *ngIf="metadata.setSpeed">
    <button (click)="setSpeed()">Set speed</button>
  </div>
  <div class="cancel" *ngIf="metadata.cancel">
    <button (click)="cancel()">Cancel</button>
  </div>
</div>
