
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Option Editor</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="mb-3">
    On object type
    <select [(ngModel)]="typeName">
      <option [selected]="typeName == type" [ngValue]="type" *ngFor="let type of types()">
        {{type}}
      </option>
    </select>

    use renderer
    <select [(ngModel)]="rendererName">
      <option [selected]="rendererName == render" [ngValue]="render" *ngFor="let render of renders()">
        {{render}}
      </option>
    </select>
  </div>

  <ng-form [formGroup]="formGroup">
    <app-jpath-input [formGroup]="formGroup" [placeholder]="'$.jpath'" label="JPath" [controlName]="'path'"></app-jpath-input>
  </ng-form>

  <ng-template [appOption] [type]="childType" [options]="options" (onComponent)="childForm = $event"></ng-template>

  <input [disabled]="!valid()" (click)="save()" class="form-control-sm mt-3" type="submit" value="Save">
</div>
